<h2>Bienvenido <%= current_estudiante.nombres %></h2>
<div class="row sticky-top" id="barralinks">
    <nav class="navbar navbar-expand-xl navbar-dark col-xl-12">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menuPrincipal" class="collapse navbar-collapse">
           	<ul class="list-inline navbar-nav mx-auto">
              <li class="mr-5 list-inline-item nav-item active" ><!--%=link_to("Noticia", new_article_path, class: "nav-link") %--></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to("Cerrar sesion", destroy_estudiante_session_path, class: "nav-link", method: "delete") %></li>
            </ul>
          </div>
        </nav>
      </div>
<%= react_component "Test" , {post: @testxd } %>
<!--%= link_to "logout", destroy_estudiante_session_path, method: :delete %-->