@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h2{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 80px;
}

@media (max-width: 1200px) {
   h1{
    font-size: 0.8em;
  }
}

#barralinks {
	height: 50px;
}

#welcome {
	color:white;
}

[id^="logo"]{
	height: 100px;
}

body {
	background-color: #7EBEE3;	
}

p {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
}

#social {
	margin: auto;
	height: 40px;
	text-align: center;
	line-height: 40px;
	position: sticky;
}

footer {
	background-color: #08088A;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	position: sticky;
}


#face {
	background-image: url('facebook.png');
	background-size: 28%;
	background-repeat: no-repeat;
	color: transparent;
	
}

#twi {
	background-image: url('twitter.png');
	background-size: 41%;
	background-repeat: no-repeat;
	color: transparent;
	
}

#insta {
	background-image: url('instagram.png');
	background-size: 28%;
	background-repeat: no-repeat;
	color: transparent;
	
}

#boton {
	margin-left: 105px;
}